In [23]:
# Q1. Create one variable containing following type of data:

s = "Ujjwal Nagfase"
l = [1,"Ujjwal",1.255,True]
f = 6.95
t = ("Java", "C++", "Python")

print(type(s))
print(type(l))
print(type(f))
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [21]:
# Q2. Given are some following variables containing data:

var1 = ""
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [9]:
# Q3. Explain the use of the following operators using an example:

# (i) / = Division Operator: This operator divides the first operand by the second operand.
x = 10
y = 5
z = x/y
print(x)

10

In [26]:
#(ii) % = Modulus Operator: Returns the remainder after division is performed
x = 33
y = 9
z = x%y
print(float(z))

6.0

In [27]:
#(iii) // = Floor Division Operator: divides the first operand by the second and rounds the result down to the nearest integer
x = 10
y = 5
z = x//y
print(z)

2

In [30]:
#(iv) ** = Power Operator: Returns first raised to power second
x = 2
y = 5
z = x**y
print(z)

32

In [63]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

l = [25,"Ujjwal",91.56,True,37,"Nagfase",False,71.92,"Python",56]
for i in l:
    print("Element present in List:",i,", Data type:",type(i),"\n")
    #print(type(i))

Element present in List: 25 , Data type: <class 'int'>

Element present in List: Ujjwal , Data type: <class 'str'>

Element present in List: 91.56 , Data type: <class 'float'>

Element present in List: True , Data type: <class 'bool'>

Element present in List: 37 , Data type: <class 'int'>

Element present in List: Nagfase , Data type: <class 'str'>

Element present in List: False , Data type: <class 'bool'>

Element present in List: 71.92 , Data type: <class 'float'>

Element present in List: Python , Data type: <class 'str'>

Element present in List: 56 , Data type: <class 'int'>

In [55]:
#5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

# Purely divisible means the remainder will be zero

a = range(1,51)
b = 5
i = 0
while i < 50:
    c = a[i] % b
    if c == 0:
        print(a[i],"is purely divisible by",b)
        print("Remainder is zero \n")
        
    i = i+1

5 is purely divisible by 5
Remainder is zero

10 is purely divisible by 5
Remainder is zero

15 is purely divisible by 5
Remainder is zero

20 is purely divisible by 5
Remainder is zero

25 is purely divisible by 5
Remainder is zero

30 is purely divisible by 5
Remainder is zero

35 is purely divisible by 5
Remainder is zero

40 is purely divisible by 5
Remainder is zero

45 is purely divisible by 5
Remainder is zero

50 is purely divisible by 5
Remainder is zero

In [62]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

Clist = range(25)
Nlist = list(Clist)
i = 0
#type(Nlist) : To check type of variable
#type(Nlist[1]) : To check type of data present in list

print("List:",Nlist,"\n") 


for i in Nlist:
    c = 3
    if Nlist[i] % c == 0:
        print(Nlist[i],"is divisible by 3 \n")

List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

0 is divisible by 3

3 is divisible by 3

6 is divisible by 3

9 is divisible by 3

12 is divisible by 3

15 is divisible by 3

18 is divisible by 3

21 is divisible by 3

24 is divisible by 3

In [70]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#(i) Mutable Data type: Data present in mutable objects can be changed even after it is created. e.g., list,dict and set
# List is a mutable object because you can change the data present in it at any particular index

l=[2,43,'Ujjwal',"Nagfase",True,4+5j,23,45,False]
l[2] = 23
print(l)

[2, 43, 23, 'Nagfase', True, (4+5j), 23, 45, False]

In [67]:
#(ii) Immutable Data type: An immutable object can’t be changed after it is created. e.g.,int, float, bool, string
#String is an immutable obejct, because you cannot change a particular character of a string at a particular index

s = "Ujjwal"
s[1] = "k"

TypeError: 'str' object does not support item assignment